<html>
    <head>
    </head>
    <body>
        <form action="" method="POST">
            <span>Enter Mozilla related filename or keyword:</span>
            <input name="query" type="text" value="{{ query }}" autofocus="autofocus"/>
        </form>
        <h1>People related to {{qtype}} {{query}}</h1>
        <div class="results">
            {% for result in results %}
                {{ result }}</br>
            {% endfor %}
        </div>
        <h1>Files related to {{query}}</h1>
        <div class="results">
            {% for result in files %}
                {{ result }}</br>
            {% endfor %}
        </div>
    </body>
</html>
